@import "utils";

:root {
	--text-color--primary: #222;
	--text-color--secondary: #727272;
	--theme-color: #494E5C;
	--border-color: #d5d6d6;
	--segments-spacing: 40px;
	--timeline-spacing: 10px;
	--entries-spacing: 15px;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: var(--segments-spacing);

	.column {
		& > * {
			margin-bottom: 20px;
		}
	}

}
