@use '../pages/utils' as *;

.footer-consent {
  @include changeFontSize(0.8rem);
  line-height: 1.1;
  text-align: justify;

  @include forPrinter {
    // Uses the CSS variable defined in index.scss for easy adjustment
    margin-top: var(--print-footer-margin-top);
  }
}
