@import "../pages/utils";

html {
	font-family: 'Gill Sans', sans-serif;
	font-size: 15px;
	line-height: 1.618;
}

* {
	box-sizing: border-box;
}

strong {
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

}

.main-content {
	width: 21cm;
	margin: auto;

	padding: 0.5cm;

	@include forMobileDevice {
		width: 100%;
	}
}
