.date-entry {
	display: flex;
	margin-top: var(--entries-spacing);

	.date {
		font-weight: 500;
		color: var(--text-color--secondary);
		margin-left: auto;

		.date--separator {
			margin: 0 10px;
		}
	}

}
