@use '../../pages/utils' as *;

.personal-project-entry {
  .personal-project-header-section {
    display: flex;

    .name {
      font-weight: 500;
    }
  }

  .project-link {
    @include changeFontSize(0.9rem);
  }
}
