@import "../../pages/utils";

.personal-project-entry {
	.personal-project-header-section {
		display: flex;

		.name {
			font-weight: 500;
		}
	}

	.technologies {
		font-style: italic;
	}

	.project-link {
		@include changeFontSize(0.9rem);
	}
}
