@import "../../pages/utils";

.personal-info-entry {
	&:not(:last-child) {
		margin-bottom: 8px;
	}

	.link {
		display: flex;
		align-items: center;
	}

	.title-image {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
}

