@use '../../pages/utils' as *;

.personal-info-entry {
	line-height: 1;

	&:not(:last-child) {
		margin-bottom: 8px;
	}

	.link {
		display: inline-flex;
		align-items: center;
		text-decoration: underline;
	}

	.title-image {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		user-select: none;
	}
}
