@import "../../pages/utils";

.segment {
	&--header {
		@include changeFontSize(1.2rem);
		font-weight: 600;
		padding-bottom: 3px;
		margin-bottom: 10px;

		border-bottom: 1px solid var(--border-color);

		display: flex;
		align-items: center;

		.icon-wrapper {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: var(--theme-color);

			margin-right: 5px;

			display: flex;
			align-items: center;
			justify-content: center;

			.icon {
				width: 20px;
				height: 20px;
			}
		}

	}
}
