.technology-entry {

	&:not(:last-child) {
		margin-bottom: 13px;
	}

	.title {
		font-weight: 500;
	}

	.list-of-technologies {
		display: flex;
		flex-wrap: wrap;

		.technology {
			margin-right: 2px;
		}
	}
}
