@use '../../pages/utils' as *;

.work-details {
  .position {
    font-weight: 600;
    @include changeFontSize(1.1rem);
    color: var(--theme-color);
  }

  .separator {
    margin: 0 8px;
  }
  
  .company {
    display: flex;
    align-items: center;
    height: 26px;
    
    .company-name {
      font-weight: 500;
      white-space: nowrap;
    }

    .company-logo {
      align-self: center;
      margin-left: 12px;
      height: 24px;

      &.small {
        height: 16px;
      }
    }
  }

  .projects-header {
    margin-top: 16px;
  }
}

.work-project {
  &:not(:last-child) {
    margin-bottom: var(--entry-spacing);
  }

  .project-name {
    font-weight: 500;
  }
}
