@import "../../pages/utils";

.work-entry {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-column-gap: var(--timeline-spacing);

	&:not(:last-child) {
		margin-bottom: 15px;
	}

	.details {
		.position {
			font-weight: 600;
			@include changeFontSize(14px)
		}

		.company {
			font-style: italic;
		}

		.projects {
			margin-top: 5px;
		}
	}
}

.work-project {

	&:not(:last-child) {
		margin-bottom: 13px;
	}

	.project-name {
		font-weight: bold;
	}

	.project-separator {
		margin: 0 8px;
	}

	.project-technologies {
		font-style: italic;
	}
}
